* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

#main-display {
    display: flex;
    justify-content: center;
    height: 95vh;
    /*
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        var(--background-image);
    background-size: cover;
    */    
}

.standard-button {
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--tertiary-color);
    font-family: var(--main-font);
    padding: 10px 20px;
    border: 0px;
    cursor: pointer;
}

.standard-button:hover {
    background-color: var(--hover-button-color);
    transition: 0.3s;
}