/* MENU PRINCIPAL */

.menu-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.menu-conteiner #title {
    font-family: var(--title-font);
    color: var(--primary-color);
}

.menu-conteiner #title h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.menu-conteiner #title h3 {
    font-size: 1.75rem;
    letter-spacing: 5px;
    margin-bottom: 60px;
}

.menu-conteiner #title h1, h3 {
    background-image: linear-gradient(to top, var(--tertiary-color), var(--primary-color) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}