@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    /* FONTS */
    --main-font: 'Pixelify Sans', sans-serif;

    /* IMAGES */
    --background-image: url("/assets/imgs/etc/pxArt.png");

    /* COLORS */
    --primary-color: #A3A5D9;
    --secondary-color: #643CD2;
    --auxiliary-color: #302E59;
    --hover-button-color: #643CD2;
}